.editContainer {
  width: 100vw;
  height: 100%;
  padding: 0 15.8px 0 0;
  /* padding: 30px; */
  background-color: rgba(82, 78, 78, 0.65);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:center;
  /* margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 70px; */
  color:white;
  font-weight: bold;
}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.formBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.dropdownContainerDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputHolder {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.txt {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.songContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputContainerDiv{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}